form {
    background-color: floralwhite;
    width: 500px;
    border: 2px outset lightgrey;
    box-sizing: border-box;
    padding: 20px 0 40px 30px;
}
input {
    margin-bottom: 10px;
    margin-top: 5px;
    width: 250px;
    height: 20px;
}
textarea {
    width: 250px;
}

button {
    width: 100px;
    height: 30px;
    margin-top: 20px;
}

.error {
    color: red;
    border: 1px solid red;
}